* {
  box-sizing: border-box;
}

/* Start of header styles menu */
header {
    padding: 30px;
    /* background-image: url("../images/background.jpg") */
  }

.search-form { 
  display: flex;
}
/* From here we style the submit button https://www.w3schools.com/howto/howto_css_search_button.asp */ 

/* This selects the input field*/
div.search-form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: transparent;
  float: left;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* This is for home/favourite and seach buttons  */
div.search-form .btn {
  float: left;
  width: 20%;
  color: white;
  
  font-size: 17px;
  transition: 0.2s;
}
div.search-form .btn:hover{
  transform: scale(2);
}

.favourite-highlight {
  color: yellow;
  
  
  
}
.favourite-highlight:hover {
  transform: scale(2);
  border: transparent;  
}

/* End of header styles menu */

.search-form {
   margin: auto;
   max-width: 400px;
}
/*Seaction for weather now view styles  */
.views-container { 
  color: white;
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  width:  80%;
  height: 300px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  /* background-color: rgba(255, 255, 255, 0.5); Steven's trick */
}

#weather-now-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#city-container { 
  align-items: center;
  justify-content: space-around;
}
.city-container-five-days-container{
  color: white;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
  border-radius: 8px;
  padding: 0px;
  height: 100%;
  size: 1rem;
  text-align: center;
  padding: 10px;
  height: 105%;
}
.city-container-five-days-container h1{
font-style: italic;
font-size: 35px;

}
.city-container-five-days-container h3{
  font-style: italic;
  font-size: 25px;
  position: relative;
  
  }
  

#now-weather-details { 
  align-items: center;
  justify-content: center;
}

#now-weather-temp {
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
}

.now-container{ 
  display: flex;
  flex-direction: column;
  position:relative;
  height: 100%;
}


#now-weather-temp h1 { 
  font-size: 5rem;
  font-weight: bolder;
}

/* end of weather now view styles */

/* section for 5 day forecast styles */

#five-days-weather-temp {
  font-size: 2rem;
  font-weight: bolder;
}

.city-container { 
  align-items: center;
  justify-content: space-around;
}

#weather-5-days-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.five-days-container { 
  display: flex;
  flex-direction: column;
  position:relative;
  height: 100%;
  
}

#cityName {
  padding-top: 0;
  
}
/* end of 5 day forecast styles */

/* 24H view*/

.views-container h2{
  font-weight: bold;
  
}
.list{
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  position:relative;
  height: 122%;
}
il{
  margin-top: 5px;
  border-radius: 6px;
  line-height: normal;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bolder;
  word-spacing: 1.5cm;
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
}
#hour-list h1{
  
  font-size: 1rem;
  word-spacing: normal;
  font-style: italic;
  text-align: right;
}
#second-hour-list h1{
  font-size: 1rem;
  word-spacing: normal;
  font-style: italic;
  text-align: right;
}
#weather-24h-flex-container{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* End of the 24h view*/

/* section for nav */
nav{

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav{      
  width: 50%;
  margin-left: 10%; /*to align with the .views-container */
  font-style: italic;
}

nav btn {
  /* width: 150px ; */
  width: 50%;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  border:1px 0px 1px solid black;
}

#btn-weather-now{ 
  background-color: rgba(255, 255, 255, 0.5);
}

.favourite-highlight {
  color: yellow;
  
}

nav btn:hover{
  color: yellow;
  transform: scale(1.3);
  text-align: center;
  cursor: pointer;
}

/* end of nav section  */


body {
    background: url(../images/background.jpg);      
    margin: auto;
    height: 100vh;
    background-size: cover;
    -moz-background-size: cover;
  }

  .fa fa-star-o{
    border: none;
  }
  nav{      
    width: 50%;
    margin-left: 10%; /*to align with the .views-container */
    font-style: italic;
      
  }
  
  nav a {
    /* width: 150px ; */
    color: salmon;
    font-weight: bold;
    letter-spacing: 0.5px;
  
    }
    .form-container{
        padding: 30px 40px;
    }
    
    .table{
      width: 85%;
      margin: 0 auto;
        background-size: 100%;
        font-weight: bolder;
        color: white;
        text-align: center;
        border: 0px solid #fff;
        padding: 50px 60px;
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);  
    }
    .table td {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: bolder;
           
        
    }
    
    
    .table td:hover {
        transform: scale(1.3)
    }